*,
*::before,
*::after {
  @apply box-border m-0 font-normal;
}

body {
  @apply min-h-100vh line-height-[1.6] font-sans font-size-4;

  @apply bg-gray-100;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --c-primary: 86, 114, 205;
}
